@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap');


html {
    scroll-behavior: smooth;
}

body {
    background-color: #D0FFC5;
    color: #555;
    font-family: "poppins", sans-serif;
    font-weight: 300;
    margin: auto;
    padding: 0;
}

/*...................................Navigation */

.navbar li, a {
    color: #fff;
}

.largeMenu {
    display: none;
}

.navbar-brand {
    font-size: 150%;
    font-weight: 500;
}

.fas {
    color: #fff;
}

/*...................................Landing page*/

#landingPage {
  min-width: 100vw;
  position: relative;
}

#video {
  position: cover;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: -1;
}


/*..................................Map */

.map {
    margin: 30px;
}

#map {
    min-height: 360px;
}

.amenities p {
    text-align: center;
}

.dropdown {
    margin-top: 30px;
}

/*.............................Contact us form */

.formfield {
    width: 100%;
    border: 1px solid #CACACA;
}

.contact {
    margin: 30px;
}

label, input {
    display: block;
}

#successSubmission {
  display: none;
}


/*.................................Footer */

footer {
    text-align: center;
    margin: 20px;
    padding: 20px;
}

footer a {
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    color: inherit;
    padding: 5px;
}

footer a:hover { 
    color: #fff;
    font-weight: 100;
}

.contactLinks {
    font-family: "poppins", sans-serif;
    font-weight: 200;
}


address {
    font-size: 70%;
}


/*.................................Media Queries */


/*  Large devices (desktops, 992px and up) */ 

@media (min-width: 992px) { 

    .navbar {
        background-color: #93B08D;
    }

    .navbar button {
        display: none;
    }

    .largeMenu {
        display: inline;
    }

    .largeMenu li {
        list-style-type: none;
        float: left;
        padding: 0px 30px;
        font-weight: 500;
        font-size: 125%;
    }

    .largeMenu a:hover {
        color: #555;
    }

    .navbar-brand:hover {
        color: #555;
    }
}